{% extends 'base.html' %}

{% block title %} Strona glowna{% endblock %}

{% block login %}

{% if user.is_authenticated %}
    <p class="user_desc">Użytkowniku {{ user.username }}, jestes zalogowany na czacie</p>

{% else %}
    <b class="login_text"> Nie jestes zalogowany</b>
<a class="login_link" href="{% url 'login' %}">Zaloguj sie</a>
<a class="login_link" href="{% url 'signup' %}">Zarejestruj sie</a>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <b>Zapraszamy do korzystania! </b>
<a class="room_choose" href="{% url 'index' %}">Przejdz do wyboru pokoju</a>
{% else %}
    <b class="super_chat">Super Chat, zaloguj sie! </b>
    <p class="description_user">Zapraszamy do korzystania z naszej aplikacji. Jest to czat grupowy.
       Uzytkownik ma mozliwosc wyboru pokoju, w ktorym chce czatowac. Jesli
       nie ma Pan/Pani jeszcze konta prosimy o zarejestrowaine sie. W panelu
       rejestracyjnym sa napisane wymagania dotyczace hasla (wielkosc liter,
       ilosc znakow itp. Każda osoba wpisująca tą samą nazwe pokoju ma możliwość
        czatowania w nim. Najnowsza wiadomosc znajduje sie na samej gorze, jest
       ponad wyslana wiadomoscia jest nazwa uzywtkownika ktory ja wyslal. Aplikacja
       jest bardzo prosta w uzytku i kazdy kto z niej korzysta nie bedzie mial
       problemow z poruszaniem sie po niej, przy czym zapewnia wszystko co najpotrzebniejsze
       w grupowym komunikowniu sie przez internet.</p>
{% endif %}
{% endblock %}
