{% extends 'base.html' %}

{% block title %} Strona glowna{% endblock %}

{% block login %}

{% if user.is_authenticated %}
    <p class="user_desc">Użytkowniku {{ user.username }}, jestes zalogowany na czacie</p>

{% else %}
    <b class="login_text"> Nie jestes zalogowany</b>
<a class="login_link" href="{% url 'login' %}">Zaloguj sie</a>
<a class="login_link" href="{% url 'signup' %}">Zarejestruj sie</a>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <b>Zapraszamy do korzystania! </b>
<a class="room_choose" href="{% url 'index' %}">Przejdz do wyboru pokoju</a>
{% else %}
    <b class="super_chat">Super Chat, zaloguj sie! </b>
{% endif %}
{% endblock %}
