{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}
<b> Zarejestruj sie </b>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{field}}
        {% if field.help_text %}
            <small class="help_txt">{{ field.help_text }}</small>
        {% endif %}
        </p>
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
  {% endfor %}

    <button type="submit">Zarejestruj sie</button>
</form>
{% endblock %}
