html{
    height:100%;
}
body{
    height: 100%;
background-color: lightgreen;
}

.login_link{
display:flex;
justify-content: flex-end;
align-items: flex-start;
font-size: 15px;
}

.login_text{
display:flex;
justify-content: flex-end;
align-items: flex-start;
font-size: 15px
}

.super_chat{
display: flex;
justify-content: center;}

.room_choose{
display:flex;
justify-content: center;
}

.user_desc{
display: flex;
justify-content: center;
}

.description_user{
font-size: large;
}

.avatar_changes{
padding: 10px;
display:column;
}


.help_txt{
max-height: 0;
overflow: hidden;
transition: all 0.5s ease-out;
font-size:10px
}

.footer_text{
font-size: 60px;
vertical-align: middle;
text-align: center;
color: azure;
}


