.msg-content{
  color: darkmagenta;
  padding-bottom: 10px;
}

.sender{
color: darkblue;
}

.avatar{
width: 50%;
max-width: 50px;
padding: 5px;
border-radius: 50%;
}

.link{
display: flex;
justify-content: flex-end;
align-items: flex-start;
font-size: 15px;
}

.info{
display: flex;
justify-content: flex-end;
align-items: flex-start;
font-size: 15px;
}