.msg-content{
  color: darkmagenta
}

.link{
display: flex;
justify-content: flex-end;
align-items: flex-start;
font-size: 15px;
}

.info{
display: flex;
justify-content: flex-end;
align-items: flex-start;
font-size: 15px;
}